/* @media (prefers-color-scheme: dark) {
    #app { 
        background: black;
        color: white; 
    }
}

@media (prefers-color-scheme: light) {
    #app { 
        background: white;
        color: black;
    }

    .hero.is-primary {
        background-color: yellow;
    }
}
 */