@import './variables';

* {
  font-family: FiraCode, Karla, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

#app {
  background: var(--bg-color);
  color: var(--font-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h1 {
  font-family: FiraCode, sans-serif;
  font-weight: bold!important;
  font-size: 6rem!important;
  line-height: 6.2rem;
  text-transform: uppercase;
  letter-spacing: 0;

  color: var(--secondary-color);
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}
